@model EntrenadorListVM

@{

    ViewData["Title"] = "Lista de entrenadores";
    var entrenador = Model.entrenadores.FirstOrDefault();
}

<div class="card m-3 card-filter p-2">
    <div class="card-header">
        <div class="card-title">Entrenadores existentes (para dar de alta un entrenador, ir a la pantalla de usuarios y dar de alta un usuario con rol 'Entrenador')</div>
        <p>Una vez registrado el usuario/entrenador, volver a esta pantalla a dar de alta su o sus equipos</p>
    </div>
    <div class="card-body">
        <table class="display" id="tbEntrenadores">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => entrenador.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => entrenador.EstadoEntrenador)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => entrenador.TipoEntrenador)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => entrenador.NumEquipos)
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/entrenador.js" type="text/javascript"></script>
}