@model IEnumerable<RoleVM>

@{

    ViewData["Title"] = "Roles y permisos de los usuarios";
}

<div class="card m-3">
    <div class="card-header">
        <div class="card-title">Roles</div>
    </div>
    <div class="card-body">
        <table class="display" id="tbRoles">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Tipo de usuario
                    </th>
                    <th>Descripción</th>
                    <th>
                        Nº de usuarios
                    </th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script src="~/js/rol.js"></script>
}