@using LigamaniaCoreApp.Models.GlobalViewModels
@model ClasificacionViewModel
@(Html
    .Grid(Model.Equipos)
    .Build(columns =>
    {
        columns.Add(model => model.Puesto).Titled("-").Encoded(false).RenderedAs(model => "<i class='" + model.Premio?.Simbolo + "'></i><span class='sr-only'></span>" + " " + model.PuestoSinBot);
        columns.Add(model => model.Equipo).Titled("Equipo");
        columns.Add(model => model.Jugados).Titled("J");
        columns.Add(model => model.Ganados).Titled("G");
        columns.Add(model => model.Empatados).Titled("E");
        columns.Add(model => model.Perdidos).Titled("P");
        columns.Add(model => model.GolesFavor).Titled("GF");
        columns.Add(model => model.GolesContra).Titled("GC");
        columns.Add(Model => Model.GolesExtraFavor).Titled("GEF");
        columns.Add(Model => Model.GolesExtraContra).Titled("GEC");
        //columns.Add(model => model.Diferencia).Titled("Dif");
        columns.Add(model => model.Puntos).Titled("Puntos");


    })
    //.RowAttributed(model => new { style = model.Premio?.UsarColor == true ? "background-color:" + model.Premio?.HtmlColor : "background-color:transparent" })
    .RowAttributed(model => new { style = true ? "background-color:" + model.Premio?.HtmlColor : "background-color:transparent" })
    .Empty("No hay clasificaciones")
    .Id("ajax-grid-clasi")
    .Css("mvc-grid-negrita")
)