@using LigamaniaCoreApp.Models.GlobalViewModels
@model IEnumerable<ClasificacionViewModel>
@{
    @if (Model.Any())
    {
        <h2 class="text-center">Clasificaciones</h2>
    }

    @foreach (var categoria in Model)
    {
        <style type="text/css">
            @foreach(var premio in categoria.Premios)
            {
                @string.Format(".premio-{0} {{ background-color:{1}; }}  ", premio.Id, premio.ColorName)
            }
        </style>
        <h3><span style="color:darkkhaki">@categoria.Categoria</span></h3>
        @await Html.PartialAsync("_ClasificacionReferencias", categoria)
        <hr />
        @await Html.PartialAsync("_ClasificacionCategoria", categoria)
    }
}
