@*<script language="Javascript" type="text/javascript" src="//widgets.elpais.com/liga/wlaunch.html?c=azul&w=300&h=555"></script>*@

@*<iframe frameborder="no" scrolling="no" style="border: 0px solid rgb(255, 255, 255); height: 352px; width: 220px;"
    src="http://www.marcadoresonline.com/widgets/widget2.php?mantenerse=si&liga=PRIMERA"></iframe>*@

@*<div style="font-size: 1em;line-height: 1em;background: #000;color: #fff;margin: 0 auto;padding: 0.3em 0;width:90%;text-align:center">
    <a target="_blank" style="color:#FFF;text-decoration:none"
       href="https://www.siguetuliga.com/liga/primera-division-laliga-santander?utm_source=widget2&utm_medium=webs%2Bo%2Bblogs&utm_campaign=Widgets%2Bresultados">
        Nacional Primera División LaLiga Santander
    </a>
</div>
<script type="text/javascript">widthIcon = "14"; heightIcon = "14";</script>
<script language="javascript" src="https://www.siguetuliga.com/widget/resultados2.php?id=24" charset="iso-8859-1"></script>*@

    <script language="Javascript" type="text/javascript" src="//widgets.elpais.com/liga/wlaunch.html?c=rojo&w=350&h=555"></script>