################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Federacion/VoleyPlaya/obj/Debug
/Federacion/VoleyPlaya.Domain/bin/Debug/net7.0
/Federacion/VoleyPlaya.GestionWeb/bin/Debug/net7.0
/Federacion/VoleyPlaya.GestionWeb/obj
/Ligamania/Ligamania.Web/obj/Debug/net7.0
/Ligamania/LigamaniaCoreApp/obj/Debug/netcoreapp2.2
/Ejemplos/Notes/obj
/Federacion
/.vs/AAARepository/v17/.wsuo
/.vs/ProyectosEstela/FileContentIndex/071edf00-6132-42db-8f6d-2b2db2711836.vsidx
/.vs/ProyectosEstela/FileContentIndex/fa9cc7fd-e2a4-4fea-9da4-de92ba06117f.vsidx
/.vs/ProyectosEstela/FileContentIndex/e07bdbcd-2311-41f5-ad44-543163115d35.vsidx
/.vs/ProyectosEstela/FileContentIndex/c95bded4-6fa2-409e-a179-c3cc56257479.vsidx
/.vs/ProyectosEstela/FileContentIndex/5010cd40-26a3-4366-aada-53cf67fd5351.vsidx
/.vs/ProyectosEstela/v17/.suo
/Ligamania/LigamaniaCoreApp/obj/project.nuget.cache
/Ligamania/LigamaniaCoreApp/obj/project.assets.json
/Ligamania/LigamaniaCoreApp/obj/LigamaniaCoreApp.csproj.nuget.dgspec.json
/Ligamania/Ligamania.Web/obj/Debug/net7.0/Ligamania.Web.GeneratedMSBuildEditorConfig.editorconfig
/Ligamania/Ligamania.Web/obj/Debug/net7.0/Ligamania.Web.csproj.AssemblyReference.cache
/Ligamania/Ligamania.Web/obj/Debug/net7.0/Ligamania.Web.assets.cache
/Ligamania/Ligamania.Web/obj/project.nuget.cache
/Ligamania/Ligamania.Web/obj/project.assets.json
/Ligamania/Ligamania.Web/obj/Ligamania.Web.csproj.nuget.dgspec.json
/Ligamania/Ligamania.Web/obj
/Ligamania/Ligamania.Repository/obj/Debug/net7.0/Ligamania.Repository.assets.cache
/Ligamania/Ligamania.Repository/obj/Debug/net7.0/Ligamania.Repository.csproj.AssemblyReference.cache
/Ligamania/Ligamania.Repository/obj/project.nuget.cache
/Ligamania/Ligamania.Repository/obj/project.assets.json
/Ligamania/Ligamania.Repository/obj/Ligamania.Repository.csproj.nuget.dgspec.json
/Ligamania/Ligamania.Repository/obj/Debug/net7.0/Ligamania.Repository.GeneratedMSBuildEditorConfig.editorconfig
/Ligamania/Ligamania.Generic.Lib/obj/project.nuget.cache
/Ligamania/Ligamania.Generic.Lib/obj/project.assets.json
/Ligamania/Ligamania.Generic.Lib/obj/Ligamania.Generic.Lib.csproj.nuget.dgspec.json
/Ligamania/Ligamania.Generic.Lib/obj/Debug/net7.0/Ligamania.Generic.Lib.GeneratedMSBuildEditorConfig.editorconfig
/Ligamania/Ligamania.Generic.Lib/obj/Debug/net7.0/Ligamania.Generic.Lib.assets.cache
/Ligamania/Ligamania.API.Lib/obj/project.nuget.cache
/Ligamania/Ligamania.API.Lib/obj/project.assets.json
/Ligamania/Ligamania.API.Lib/obj/Ligamania.API.Lib.csproj.nuget.dgspec.json
/Ligamania/Ligamania.API.Lib/obj/Debug/net7.0/Ligamania.API.Lib.GeneratedMSBuildEditorConfig.editorconfig
/Ligamania/Ligamania.API.Lib/obj/Debug/net7.0/Ligamania.API.Lib.csproj.AssemblyReference.cache
/Ligamania/Ligamania.API.Lib/obj/Debug/net7.0/Ligamania.API.Lib.assets.cache
/Ligamania/General.Repository/obj/project.nuget.cache
/Ligamania/General.Repository/obj/project.assets.json
/Ligamania/General.Repository/obj/General.CrossCutting.Lib.csproj.nuget.dgspec.json
/Ligamania/General.Repository/obj/Debug/net7.0/General.CrossCutting.Lib.GeneratedMSBuildEditorConfig.editorconfig
/Ligamania/General.Repository/obj/Debug/net7.0/General.CrossCutting.Lib.assets.cache
