@model TemporadaVM
@{
    var col = "collapse";
    if (Model.Error) { col = "show"; }
    var colHor = String.Concat(col, " collapse-horizontal");

}
<div class="card-header">
        <div class="btn-group m-2">
            <button type="button" class="btn-info m-2" data-bs-toggle=@col data-bs-target="#collapseNuevoDocumento" aria-expanded="false" aria-controls="collapseNuevoCalendario">Nueva temporada</button>
        </div>
    </div>
    <div class=@colHor id="collapseNuevoDocumento">
        <div class="card card-body">
            <form asp-action="Create" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Temporada" class="control-label"></label>
                    <input asp-for="Temporada" class="form-control" />
                    <span asp-validation-for="Temporada" class="text-danger"></span>
                </div>
                
                <div class="form-group">
                    <input type="submit" value="Crear" class="btn btn-primary m-2" />
                </div>
            </form>
        </div>
    </div>