@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using LigamaniaCoreApp.Models.AdminViewModels
@model IEnumerable<JugadorViewModel>
@{
    @* Should only include grid declaration *@

    @(Html
            .Grid(Model)
            .Build(columns =>
            {
                columns.Add(model => model.Jugador).Titled("Jugador");
                columns.Add(model => model.Activo ? "Activo" : "Inactivo").Titled("Activo/Inactivo");
                columns.Add(model => $"<button type='button' class='btn btn-primary btn-sm' data-jugador=\"{model.Jugador}\" data-activo=\"{model.Activo}\" " +
                                     $"data-id=\"{model.IdJugador}\" data-toggle='modal' data-target='#editJugadorModal'>Editar nombre</button>").Encoded(false);
                columns.Add(model => model.Activo ? $"<button class='btn-secondary btn-sm'  id=\"{model.IdJugador}\" onClick=\"buttonDesactivarJugador(this.id)\">Desactivar</button>" : $"<button class='btn-primary btn-sm'  data-id=\"{model.IdJugador}\" data-jugador=\"{model.Jugador}\" data-toggle='modal' data-target='#activeJugadorModal'>Activar</button>").Encoded(false);

                //columns.Add(model => $"<button class='btn-secondary btn-sm'  id=\"{model.IdJugador}\" onClick=\"buttonDesactivarJugador(this.id)\">Desactivar</button>").Encoded(false);
                //columns.Add(model => $"<button class='btn-secondary btn-sm'  id=\"{model.IdJugador}\" data-jugador=\"{model.Jugador}\" data-toggle='modal' data-target='#activeJugadorModal'>Activar</button>").Encoded(false);
                columns.Add(model => $"<button class='btn-secondary btn-sm'  id=\"{model.IdJugador}\" onClick=\"buttonBorrarJugador(this.id)\">Borrar</button>").Encoded(false);
            })
    .Css("webgrid-noticiaAplicacion") // Overwrites all classes with the new ones
    .WithFilterMode(GridFilterMode.FilterRow)
    .Empty("No hay jugadores")
    .Id("ajax-grid-jugadores")
    .Pageable(pager =>
    {
        pager.RowsPerPage = 20;
    })
    .Filterable()
    .Sortable()
    )
}
