@{

    ViewData["Title"] = "Jugadores";
}

@model JugadorListVM
@{
    ViewData["Title"] = "Jugadores";
    var clubs = Model.jugadores;
    var primera = Model.nuevoJugador;
    var col = "collapse";
    if (Model.Error) { col = "show"; }
    var colHor = String.Concat(col, " collapse-horizontal");
}

<div class="row p-2 m-2">
    <div class="col card m-1 card-filter p-1">
        <p class="m-1">Copiar jugadores de otra temporada</p>
        <div class="form-control">
            <select class="m-1" id="temporadas" name="temporadas">
            </select>
            <button class="btn btn-primary" type="button" id="copiarJug">Copiar</button>
        </div>
    </div>
    <div class="col card m-1 card-filter p-1">
        <p class="m-1">Exportar a excel los jugadores de la temporada actual</p>
        <button class="btn btn-primary" type="button" id="exportar">Exportar</button>
    </div>
    <div class="col card m-1 card-filter p-1">
        <p class="m-1">Importar desde excel jugadores de la temporada actual</p>
        <form id="formCargarExcel" action="#" method="post" enctype="multipart/form-data">
            <input type="file" id="fUpload" name="files" class="form-control" style="padding:2px" />
            <button class="btn btn-primary m-2" type="button" id="cargarExcel">Importar</button>
        </form>
    </div>
    <div class="col card m-1 card-filter p-1">
        <p class="m-1">Nuevo jugador a incorporar a la temporada</p>
        <div class="form-control">
            <select class="m-1" id="clubsNuevo" name="clubsNuevo"></select>
            <select class="m-2" id="puestosNuevo" name="puestosNuevo"></select>
            <input class="m-2" type="text" id="nuevoJugador" name="nuevoJugador" />
            <button class="btn btn-primary" type="button" id="crearJug">Crear jugador</button>
        </div>
    </div>
</div>

<div class="card p-2">
    <div class="card-header">
        <input type="hidden" value="@ViewBag.Club" id="selClub" name="selClub" />
        <input type="hidden" value="@ViewBag.Puesto" id="selPuesto" name="selPuesto" />
        <p class="m-2">Seleccionar club y/o puesto para cargar lista de jugadores de la temporada actual:</p>
        <label for="clubs">Club:</label>
        <select id="clubs" name="clubs"></select>
        <label for="puestos">Puesto:</label>
        <select id="puestos" name="puestos"></select>
        <input type="button" id="selForm" value="Filtrar" class="btn btn-primary m-2" />

        <p>Utilizar ->-> para mover todos los jugadores de una tabla a otra. Utilizar -> para mover solo el jugador seleccionado</p>
        <p>Al mover jugadores que están de baja a la temporada actual, se les asignará el club y puesto seleccionado justo aquí arriba</p>

        <div class="spinner-border spinner-border-sm" role="status" id="spinner">
            <span class="visually-hidden">Cargando jugadores...</span>
        </div>
    </div>
    <div class="card-body">
        <form id="taJugForm" action="#" method="post">
            <select id="jugadores" multiple="multiple" size="20" name="jugadores[]" title="jugadores[]" class="jug_dualListBox">
            </select>
            <br>
        </form>
    </div>
    <div class="card-footer">
        @*<div id="selectedItemsContainer"></div>
        <div class="card m-3 card-filter p-2">
            <input type="submit" value="Aplicar cambios" class="btn btn-primary m-2" />
        </div>
        <div class="label">
            <p disabled id="cambios" name="cambios"></p>
        </div>*@
    </div>
</div>

@*<style>
    .label-info {
        background-color: #5bc0de;
        color: #fff;
        margin-right: 5px;
        padding: 2px 4px;
        border-radius: 3px;
    }
</style>*@

@section Scripts {
    <script type="text/javascript" src="~/js/temporadaJugadores.js"></script>
}
