@{

    ViewData["Title"] = "Jugadores";
}

@model JugadorListVM
@{
    ViewData["Title"] = "Jugadores";
    var clubs = Model.jugadores;
    var primera = Model.nuevoJugador;
    var col = "collapse";
    if (Model.Error) { col = "show"; }
    var colHor = String.Concat(col, " collapse-horizontal");
}

<div class="card p-2">
    <div class="card-header">
            <input type="hidden" value="@ViewBag.Club" id="selClub" name="selClub" />
            <input type="hidden" value="@ViewBag.Puesto" id="selPuesto" name="selPuesto" />
            <div class="row g-3">
                <div class="col">
                    <h5>Seleccionar club y puesto para cargar los jugadores</h5>
                    <div class="col-auto m-2">
                        <label class="visually-hidden">Club</label>
                        <select class="form-control" id="clubs" name="clubs"></select>
                    </div>
                    <div class="col-auto m-2">
                        <label class="visually-hidden">Puesto</label>
                        <select class="form-control" id="puestos" name="puestos"></select>
                    </div>
                    <div class="col-auto m-2">
                        <button class="btn btn-primary mb-3" id="selForm" name="selForm">Filtrar</button>
                    </div>
                </div>
@*                 <form method="post" action="BajaJugador" asp-controller="TemporadaActual">
 *@                    <div class="col">
                        <h5>Jugadores pendientes de baja.</h5>
                        <div id="jugPendientes" class="m-2">
                            @Html.ListBoxFor(m=>m.jugadorSelected, new SelectList(Model.jugadoresPdtesBaja, "Id", "Jugador"), htmlAttributes: new {@class="form-control"})
                        </div>
@*                         <div class="col-auto m-2">
                            <button class="btn btn-primary mb-3" type="submit">Baja</button>
                        </div>
 *@                    </div>
@*                 </form>
 *@        </div>
        <p>Al mover jugadores que están de baja a la temporada actual, se les asignará el club y puesto seleccionado justo aquí arriba</p>
        <div class="spinner-border spinner-border-sm" role="status" id="spinner">
            <span class="visually-hidden">Cargando jugadores...</span>
        </div>
    </div>
    <div class="card-body">
        <form id="taJugForm" action="#" method="post">
            <select id="jugadores" multiple="multiple" size="20" name="jugadores[]" title="jugadores[]" class="jug_dualListBox">
            </select>
            <br>
        </form>
    </div>
    <div class="card-footer">
        <div class="row g-2">
            <div class="col m-2" style="border:ridge">
                <h5>Alta de nuevo jugador</h5>
                <div class="row g-4">
                    <div class="col-auto">
                        <p>Seleccionar Club y Puesto</p>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden">Club</label>
                        <select class="form-control" id="clubsNuevo" name="clubsNuevo"></select>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden">Puesto</label>
                        <select class="form-control" id="puestosNuevo" name="puestosNuevo"></select>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-auto">
                        <label class="visually-hidden">Jugador</label>
                        <input type="text" class="form-control" id="nuevoJugador" name="nuevoJugador" />
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mb-3" id="crearJug" name="crearJug">Crear jugador</button>
                    </div>
                </div>
            </div>
            <div class="col m-2" style="border:ridge">
                <h5>Cambiar jugador de club y/o puesto</h5>
                <div class="row g-4">
                    <div class="col-auto">
                        <p>Seleccionar Club, Puesto y Jugador a cambiar</p>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden">Club</label>
                        <select class="form-control" id="clubsCambio" name="clubsCambio"></select>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden">Puesto</label>
                        <select class="form-control" id="puestosCambio" name="puestosCambio"></select>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden">Jugador</label>
                        <select class="form-control" id="jugadoresCambio" name="jugadoresCambio"></select>
                    </div>
                </div>
                <div class="row g-4">
                    <div class="col-auto">
                        <p>Seleccionar nuevo club y/o puesto</p>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden">Club</label>
                        <select class="form-control" id="clubsCambiar" name="clubsCambiar"></select>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden">Puesto</label>
                        <select class="form-control" id="puestosCambiar" name="puestosCambiar"></select>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mb-3" id="cambiarJug" name="cambiarJug">Cambiar</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-3">
            <div class="col m-2" style="border:ridge">
                <h5>Copiar jugadores de otra temporada</h5>
                <div class="row g-3">
                    <div class="col-auto">
                        <p>Seleccionar temporada</p>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden">Temporada</label>
                        <select class="form-control" id="temporadas" name="temporadas"></select>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mb-3" id="copiarJug" name="copiarJug">Copiar jugadores</button>
                    </div>
                </div>
            </div>
            <div class="col m-2" style="border:ridge">
                <h5>Exportar a excel lista de jugadores de la temporada actual</h5>
                <div class="row g-1">
                    <div class="col-auto">
                        <button class="btn btn-primary mb-3" id="exportar" name="exportar">Exportar jugadores</button>
                    </div>
                </div>
            </div>
            <div class="col m-2" style="border:ridge">
                <h5>Importar lista de jugadores sobre la temporada actual</h5>
                <div class="row g-1">
                    <div class="col-auto">
                        <input type="file" id="fUpload" name="files" class="form-control"/>
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary mb-3" id="importar" name="importar">Cargar jugadores</button>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/temporadaJugadores.js"></script>
}
