@using LigamaniaCoreApp.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav flex-column">
    <li class="nav-link active @ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Perfil</a></li>
    <li class="nav-link active @ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Contraseña</a></li>
    @*@if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">External logins</a></li>
    }*@
    @*<li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>*@
</ul>

