@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de contraseña reseteada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido reseteada. Por favor, <a asp-page="./Login">para entrar en sesión</a>.
</p>