@model RegisterViewModel
@{
    ViewData["Title"] = "Registro en Ligamanía";
    var listaSiNo = new SelectList(new List<string> { LigamaniaConst.SI, LigamaniaConst.NO });
    var listaCateg = new SelectList(new List<string> { LigamaniaConst.Categoria_SilverA, LigamaniaConst.Categoria_SilverB, LigamaniaConst.SinPreferencia });
}

<h2>@ViewData["Title"]</h2>

<div class="card m-3 p-2">
    <h5 class="card-header">Por favor, rellena este formulario con tus datos. Recibirás un correo para validar el registro</h5>
    <h5 class="card-header">Cuando Ligamanía te confirme como <strong>entrenador</strong>, recibirás un correo de confirmación</h5>
    <div class="card-body">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <div class="form-group">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" type="text" class="form-control" id="add-username" placeholder="Nombre del entrenador (debe ser único)" required>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text" class="form-control" id="add-email" placeholder="Email del entrenador (debe ser único)" required>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City"></label>
                <input asp-for="City" type="text" class="form-control" id="add-ciudad" placeholder="Ciudad de residencia" required>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conocimiento"></label>
                <input asp-for="Conocimiento" type="text" class="form-control" id="add-conocimiento" placeholder="¿Cómo nos conociste?" >
                <span asp-validation-for="Conocimiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StrWhats"></label>
                @Html.DropDownListFor(model => model.StrWhats, listaSiNo, "Seleccionar...", new { @class = "custom-select" })
                <span asp-validation-for="StrWhats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" type="text" class="form-control" id="add-telefono" placeholder="Nº de teléfono de contacto" required>
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Equipo"></label>
                <input asp-for="Equipo" type="text" class="form-control" id="add-equipo" placeholder="Nombre del equipo (debe ser único)" required>
                <span asp-validation-for="Equipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaPreferida"></label>
                @Html.DropDownListFor(model => model.CategoriaPreferida, listaCateg, "Seleccionar...", new { @class = "custom-select"})
                <span asp-validation-for="CategoriaPreferida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-lg">Registrarme</button>
        </form>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
