@inject LigamaniaCoreApp.Services.ILigamaniaService ligamaniaService
@model LigamaniaCoreApp.Models.ManagerViewModels.PreparacionTemporadaViewModel

@{
    ViewData["Title"] = "PanelControl";
    var temporadaActual = Model.Temporada != null ? Model.Temporada.Temporada : "No está establecida la temporada actual";
    var competiciones = Model.CompeticionesActivas.GroupBy(c => c.Competicion).Select(grp => grp.FirstOrDefault()).ToList();
}

<h2>Seleccionar una competición para acceder a su panel de control</h2>

<div class=" flex-container">
    <div class="flex-item-bold-center card">
        <div class="card-header">
            <h4>Competiciones activas en @temporadaActual</h4>
        </div>
        <div class="card-body">
            <div id="grid-competiciones-activas" class="mvc-grid" data-name="" data-filter-mode="FilterRow" data-source-url="">
                @{
                    @(Html
                            .Grid(Model.CompeticionesActivas)
                            .Build(columns =>
                            {
                                columns.Add(model => model.Competicion).Titled("Competición");
                                columns.Add(model => model.JornadaCarrusel).Titled("Jornada Carrusel");
                                columns.Add(model => model.JornadaActual).Titled("Jornada Actual");
                                columns.Add(model => $"<button type='button' class='btn btn-primary' " +
                                $"onclick='panelControl(\"{model.IdCompeticion}\", \"{model.Competicion}\")' " +
                                $"id='panelControl'>Panel de Control</button>").Encoded(false);
                            })
                            .Css("mvc-grid-medium") // Overwrites all classes with the new ones
                            .Empty("No hay competiciones activas")
                            .Id("ajax-grid-competiciones-activas")
                            .Pageable(pager =>
                            {
                                pager.RowsPerPage = 5;
                            })
                            .Filterable()
                            .Sortable()
                    )
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function panelControl(idCompeticion, competicion) {
        var urlToCall = '/ADMINT/PanelControlCompeticion';
        window.location.href = urlToCall + "?idCompeticion=" + idCompeticion+"&competicion="+competicion;
    }
    
</script>