@model  LigamaniaCoreApp.Models.EntrenadorViewModels.AlineacionesCambiosViewModel

@{
    ViewData["Title"] = "Alineaciones y Cambios";
}
<h2>Alineaciones y Cambios de @Model.Entrenador</h2>

@{ 
    if (Model.Equipos!=null && Model.Equipos.Count>0)
    {
        var equipos = Model.Equipos.OrderBy(e => e.OrdenCompeticion).ThenBy(e=>e.OrdenCategoria).ToList();
        @foreach (var equipo in equipos)
        {
            @await Html.PartialAsync("_AlineacionCambioEquipo",equipo)
        }
    }
    else
    {
        <h2>@Model.Entrenador no tiene equipos activos en la temporada actual o bien aún no están abiertas las alineaciones. Si tienes dudas, consulta con el administrador de Ligamanía</h2>
    }
}