@using LigamaniaCoreApp.Models.ManagerViewModels
@using LigamaniaCoreApp.Utils
@model IEnumerable<AccionUsuarioViewModel>

@{
    ViewData["Title"] = "Acciones de los usuarios";
    var acciones = Model.OrderByDescending(a => a.Fecha).ToList();
}

<h2 class="text-center">Acciones de los usuarios</h2>
<div class="row">
    <div id="grid-acciones" class="mvc-grid" data-name="" data-filter-mode="FilterRow" data-source-url="">
        @{
            @(Html
                    .Grid(acciones)
                    .Build(columns =>
                    {
                        columns.Add(model => model.Entrenador).Titled("Entrenador");
                        columns.Add(model => model.Equipo).Titled("Equipo");
                        columns.Add(model => LigamaniaUtils.GetLocalTime(model.Fecha)).Titled("Fecha");
                        columns.Add(model => model.Accion).Titled("Acción");
                    })
                    .Css("webgrid-noticiaAplicacion") // Overwrites all classes with the new ones
                    .WithFilterMode(GridFilterMode.FilterRow)
                    .Empty("No hay acciones")
                    .Id("ajax-grid-acciones")
                    .Pageable(pager =>
                    {
                        pager.RowsPerPage = 30;
                    })
                    .Filterable()
                    .Sortable()
            )
        }
    </div>
</div>
