@page 
@model VoleyPlaya.Gestion.Web.Views.Edicion.IndexModel
@{

}

<div class="container">
    <h2 class="alert-danger"> ¡¡ Atención !! La prueba de Juegos Deportivos del 20 de Mayo SUSPENDIDA por el aviso de tormentas eléctricas</h1>
    <h3 class="alert-info"> La prueba del Circuito Regional Asturiano del domingo 21 de Mayo se disputará</h3>
    <img src="~/img/imagen portada entorno.jpg" class="centered-image"/>
</div>
