@page 
@model VoleyPlaya.Gestion.Web.Views.Edicion.IndexModel
@{

}

<div class="container">
    <h3 class="alert-info"> Próximo fin de semana 25 de Junio - Circuito Regional de Voley Playa en la playa de Arbeyal</h3>
    <img src="~/img/imagen portada entorno.jpg" class="centered-image"/>
</div>
