@using LigamaniaCoreApp.Models.InvitadoViewModels
@model HistorialViewModel

@{
    var categorias = Model.CategoriasHistoricas.OrderBy(c => c.Orden).ToList();
}
@foreach (var categoria in categorias)
{
    var nombreCategoria = categoria.Categoria;
    if (categoria.Categoria.Equals(LigamaniaCoreApp.Data.LigamaniaConst.Categoria_SinCategoria))
    {
        nombreCategoria = categoria.Competicion;
    }
    <h3>@nombreCategoria</h3>
    <ul>
        @await Html.PartialAsync("_historialTemporadaCategoriaPremios", categoria.Premios)
    </ul>
}
