@{
    string entornoTrabajo = "";
    string classEntorno = "";
    <environment names="Development">
        @{
            entornoTrabajo = "Entorno de Desarrollo";
            classEntorno = "text-center entorno-development";
        }
    </environment>
    <environment names="Staging">
        @{
            entornoTrabajo = "Entorno de Integración (Pruebas)";
            classEntorno = "text-center entorno-staging";
        }
    </environment>
}

<div class="container-fluid navbar-top">
    <div class="navbar-header">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="glyphicon glyphicon-align-left"></i>
            <span></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="~/Account/Register">Registro</a></li>
            @if (User.Identity.IsAuthenticated)
            {
                <li><a href="#">Hola @User.Identity.Name !</a></li>
                <li><a style="color:#ffffff" href="~/Account/Logout">Desconectar</a></li>
            }
            else
            {
                <li><a href="~/Account/Login">Conectar</a></li>
            }
        </ul>
    </div>
</div>
<div class="text-center">
    <p class="@classEntorno">@entornoTrabajo</p>
    <p style="color:red;">Si quieres disfrutar de la Liga de Fútbol de Primera División de una forma original y divertida, prueba con Ligamanía!</p>
    <p> Regístrate o escríbenos un e-mail a <strong>ligamania@gmail.com</strong></p>
</div>