@{
    string entornoTrabajo = "";
    string classEntorno = "";
    <environment names="Development">
        @{
            entornoTrabajo = "Entorno de Desarrollo";
            classEntorno = "text-center entorno-development";
        }
    </environment>
    <environment names="Staging">
        @{
            entornoTrabajo = "Entorno de Integración (Pruebas)";
            classEntorno = "text-center entorno-staging";
        }
    </environment>
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
            <i class="bi bi-layout-text-sidebar"></i>
            <span></span>
        </button>

        <div class="collapse navbar-collapse d-flex" id="navbarLgm">
            <ul class="nav navbar-nav">
                <li class="nav-item d-flex">
                    <a class="nav-link" aria-current="page" href="~/Account/Register">Registrarse</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Hola @User.Identity.Name !</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Account/Logout">Desconectar</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="~/Account/Login">Conectar</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>

<div class="text-center col-8">
    <p class="@classEntorno">@entornoTrabajo</p>
    <p style="color:red;">@*Si quieres disfrutar de la Liga de Fútbol de Primera División de una forma original y divertida, prueba con Ligamanía!*@</p>
    @*<p> Regístrate o escríbenos un e-mail a <strong>ligamania@gmail.com</strong></p>*@
</div>