<div class="sidebar-header">
    <h3>Ligamanía</h3>
</div>

<ul class="list-unstyled components">

    <li>
        <a target="_blank" href="https://www.facebook.com/groups/ligamania/?fref=ts"> <i class="bi bi-facebook"></i> Facebook</a>
    </li>

    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <li>
            <a href="#"> <i class="bi bi-gear-fill"></i> Configuración</a>
        </li>

        <li class="nav-item px-3">
            <a class="nav-link" href="~/User/Index"><span class="bi bi-people-fill" aria-hidden="true"></span> Usuarios</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/User/Roles"><span class="bi bi-file-lock-fill" aria-hidden="true"></span> Roles y permisos</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/Entrenador/Index"><span class="bi bi-emoji-smile" aria-hidden="true"></span> Entrenadores</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/Club/Index"><span class="bi bi-flag-fill" aria-hidden="true"></span> Clubs</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/Jugador/Index"><span class="bi bi-stack" aria-hidden="true"></span> Jugadores</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/Competicion/Index"><span class="bi bi-x-diamond-fill" aria-hidden="true"></span> Competiciones</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/Calendario/Index"><span class="bi bi-calendar-check-fill" aria-hidden="true"></span> Calendarios</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/Documentos/Index"><span class="bi bi-file-text-fill" aria-hidden="true"></span> Documentos</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/Parametros/Index"><span class="bi bi-file-text-fill" aria-hidden="true"></span> Parámetros</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/Temporada/Index"><span class="bi bi-calendar-range-fill" aria-hidden="true"></span> Temporadas</a>
        </li>
        <li>
            <a href="#"> <i class="bi bi-gear-fill"></i> Temporada Actual</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/TemporadaActual/Clubs"><span class="bi bi-stack" aria-hidden="true"></span> Clubs</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/TemporadaActual/Jugadores"><span class="bi bi-stack" aria-hidden="true"></span> Jugadores</a>
        </li>
         <li class="nav-item px-3">
            <a class="nav-link" href="~/TemporadaActual/Equipos"><span class="bi bi-stack" aria-hidden="true"></span> Equipos</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="~/TemporadaActual/Competiciones"><span class="bi bi-x-diamond-fill" aria-hidden="true"></span> Competiciones</a>
        </li>
    }
</ul>