@model CompeticionVM

@{
    ViewData["Title"] = "Crear nueva competición";
    var listaSiNo = new SelectList(new List<string> { "SI", "NO" });
    var listaTipoCompeticion = new SelectList(new List<string> { "Liga", "Supercopa", "Copa", "Pretemporada", "SinTipo" });
}

<div class="card row m-3 p-2">
    <div class="col-md-4">
        <form asp-action="CreateCompeticion">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Competicion" class="control-label"></label>
                <input asp-for="Competicion" class="form-control" />
                <span asp-validation-for="Competicion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                @Html.DropDownListFor(model => model.Tipo, listaTipoCompeticion, "Seleccionar...", new { @class = "form-control custom-select" })
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepetirClub" class="control-label"></label>
                @Html.DropDownListFor(model => model.RepetirClub, listaSiNo, "Seleccionar...", new { @class = "form-control custom-select" })
                <span asp-validation-for="RepetirClub" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CopiarAliIni" class="control-label"></label>
                @Html.DropDownListFor(model => model.CopiarAliIni, listaSiNo, "Seleccionar...", new { @class = "form-control custom-select" })
                <span asp-validation-for="CopiarAliIni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AliInicial" class="control-label"></label>
                <input asp-for="AliInicial" class="form-control" />
                <span asp-validation-for="AliInicial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JornadaCuadro" class="control-label"></label>
                <input asp-for="JornadaCuadro" class="form-control" />
                <span asp-validation-for="JornadaCuadro" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary m-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}