@using LigamaniaCoreApp.Models.GlobalViewModels
@model IEnumerable<ClasificacionViewModel>
@{
    ViewData["Title"] = "Ligamanía";
    Layout = "_LayoutSimple";
    @if (Model == null)
    {
        <h2 class="text-center">Esta pantalla se habilitará en la 2º vuelta de Liga</h2>
    }
    else if (Model.Any())
    {
        <h2 class="text-center">Clasificaciones 2ª Vuelta</h2>

        <div id="grid-clasi" class="mvc-grid" data-name="" data-filter-mode="FilterRow" data-source-url="">

            @foreach (var categoria in Model)
            {
                <h3><span style="color:darkkhaki">@categoria.Categoria</span></h3>
                <hr />
                @await Html.PartialAsync("_ClasificacionCategoria", categoria)
            }
        </div>
    }
}