@using Newtonsoft.Json

@using LigamaniaCoreApp.Models.ManagerViewModels
@model IEnumerable<TemporadaRondaPartidos>
@{
    <div>
        <h1 style="padding:5rem;color:red;"><strong>Cuadro de Copa sin establecer. La competición se iniciará en el mes de Enero</strong></h1>
    </div>
}
