@inject LigamaniaCoreApp.Services.ILigamaniaService ligamaniaService
@{
    ViewData["Title"] = "Ligamanía";
}

@*//Ver equipos en pretemporada*@
<div class="flex-container">
    <h2 class="text-center">Información de los equipos para la próxima temporada</h2>
    <div id="grid-equipos" class="mvc-grid flex-item-bold-center" data-name="" data-filter-mode="FilterRow" data-source-url="">
        @Html.AjaxGrid(Url.Action("VistaEquiposPretemporada", "Home"), new { id = "ajax-grid-equipos" })
    </div>
</div>
