@model UserVM

@{
    ViewData["Title"] = "Entrar en sesión";
}

<div class="col-4">
    <div class="card m-3 p-2">
        <h4 class="card-header">Escribe el email con el que estás registrado</h4>
        <div class="row">
            <div class="card-body col-4">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-group">
                        <label asp-for="Equipo" class="control-label"></label>
                        <select asp-for="Equipo" asp-items="@ViewBag.ListOfEquipos" class="form-control"><option>Seleccionar un equipo</option></select>
                        <span asp-validation-for="Equipo" class="text-danger"></span>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary m-3">
                        @if (Model.Loading)
                        {
                            <span class="spinner-border spinner-border-sm mr-1"></span>
                        }
                        Entrar
                    </button>
                    <div class="form-group">
                        <p>
                            <a asp-action="ForgotPassword">Renovar y/o verificar contraseña</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}